<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>ShittyCycle</title>
        <link href="main.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
        <div id="app">            
<!--
            <div v-if="bikeRacks.ready">
                <p>IT WORKS</p>
                <div style="display: block;" v-for="rack in bikeRacks.racks">
                    <p>{{rack.name}}</p>
                    <p>{{rack.bikes}} bikes / {{rack.spaces}} spaces</p>
                    <p>Last updated: {{rack.age.toLocaleTimeString()}}</p>
                    <button v-on:click="rack.update()">Update</button>
                </div>
            </div>
-->
            <form>
                
            </form>
            
        </div>        
        
        
        
		<script src="https://unpkg.com/vue"></script> 
		<script src="latlon-spherical.js"></script> 
        <script src="main.js"></script>		
	</body>
</html>